@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0;
    background-color: gray;
}

h1 {
    font-family: norse-bold;
    color: white;
    
}

div {
    overflow: hidden;
}

.container {
    height: 100vh;
}

#left {
    width: 33vw;

    overflow: hidden;
    background-image: url("leaves_background.jpg");
    background-position: center;
    background-size: cover;
}

#right {
    width: 66vw;
}

form {
    display: flex;
    flex-direction: column;
}

#logo-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 33vw;
    height: 28%;
    top: 5rem;
    background: rgba(0, 0, 0, .5);
    color: white;
    font-family: norse-bold;
    font-size: 8em;
}

img {
    max-width: 100%;
    max-height: 80%;
    opacity: 1;
}
